.signin-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 97.5%);

  .signin-card {
    width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px hsl(0, 0%, 70%);
    background-color: white;
    text-align: center;

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social-logins {
        display: flex;
        flex-direction: column;
        width: 100%;

        .google {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          font-size: medium;
          font-weight: bold;
          border: solid;
          border-radius: 1rem;
          background-color: transparent;

          .google-icon {
            margin-right: 1.25rem;
            width: 1.5rem;
            height: 1.5rem;
          }

          &:hover {
            cursor: pointer;
            background-color: hsl(0, 0%, 97.5%);
          }
        }
      }
    }
  }
}
